*{
    margin: 0;
  }

  html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }

  .title{
    padding-top: 2rem;
    padding-left: 1rem;
    font-size:3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-left: 2rem;
    display: block;
  }

  
  .document-card {
  width: 22rem;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: linear-gradient(
      rgba(246, 221, 221, 0.2),
      rgba(246, 221, 221, 0.08)
  );
  backdrop-filter: blur(10px);
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.document-name {
  font-size: 1.8rem;
  font-weight: 500;
}

.document-author {
  font-size: 1.2rem;
  color: #7c7c7c;
  margin-bottom: 1rem;
}

.document-description {
  font-size: 1.5rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.whole-section{
  display: flex;
}



.document-section{
  flex: 4;
}


.tagged-doc{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.forwarded-documents{
  flex: 1;
  background-color: #0e012b;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: #0c2243;
  padding: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #153968;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: fade-in 0.5s;
  text-decoration: none;
}

.list-item:hover {
  background-color: #305e8e;
}

.list-item:hover .doc-title,
.list-item:hover .author-name {
  color: #ffffff;
}

.doc-title,
.author-name {
  margin: 0;
  color: #ecf4fc;
  transition: color 0.3s;
}

.doc-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.author-name {
  font-size: 14px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}