*{
    margin: 0;
    
  }
  
  html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }

  .heading{
    display: flex;
    /* gap: 85%; */
  }

  .edit{
    padding-top: 2rem;
    padding-right: 6rem;
    margin-left: auto;
  }
  
  .ed-photo{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
  }

  .title{
    padding-top: 2rem;
    padding-left: 1rem;
    font-size:3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .box{
    border: 1px solid #aaa;
    border-radius: 8px;
    padding-top: 2rem;
    padding-left: 1rem;
    width: 92%;
    height: 100%;
    margin-left:5rem ;
    margin-right: 4rem;
  }

  .name{
    font-size:2.5rem;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 300;

  }

  .about{
    display: flex;
    gap: 15rem;
    margin: 3rem;
  }
  
  .things{
    /* border: 1px solid #aaa; */
    border-radius: 8px;
    background: linear-gradient(rgba(246, 221, 221, 0.2), rgba(246, 221, 221, 0.08)); 
    backdrop-filter: blur(10px);         
    padding-top: 1rem;
    padding-left: 1rem;
    width: 60%;
    /* height: 80vh; */
    margin-left:3rem ;
  }

  .things-doc{
    border-radius: 8px;
    background: linear-gradient(rgba(246, 221, 221, 0.2), rgba(246, 221, 221, 0.08)); 
    backdrop-filter: blur(10px);         
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    width: 20%;
    margin-left:6rem ;
  }

  .list{
    padding: 1.5rem;
    padding-left: 2rem;
    font-size: 1.8rem;
    list-style: none;
    font-weight:100;
  }
  
  .spanned{
    font-size: 2rem;
    font-weight: 500;
  }

  
  .dp{
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
  }
