
*{
    margin: 0;
  }

  html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }

  .title{
    padding-top: 2rem;
    padding-left: 1rem;
    font-size:3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
