body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-main {
  display: grid;
  margin: 80px;
  height: 525px;
  grid-template-columns: 5fr 3fr;
}

.welcome {
  padding-top: 30px;
  padding-left: 40px;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  padding-right: 40px;
  background-color: rgba(194, 152, 252, 0.3);
}

.wel-head {
  text-align: center;
  font-size: 48px;
}

.about {
  text-align: center;
  font-size: 20px;
}

.login-type {
  vertical-align: middle;
  background-color: rgb(218, 207, 236);
  padding-top: 30px;
  padding-left: 40px;
  font-family: "Poppins", sans-serif;
  padding-right: 40px;
}

.as {
  text-align: center;
  padding-top: 80px;
  color: black;
  font-size: 38px;
}

.btn-group {
  vertical-align: middle;
  display: grid;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.btn {
  height: 50px;
  background-image: linear-gradient(
    to bottom right,
    rgb(168, 127, 206),
    rgb(171, 87, 250)
  );
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-text {
  margin-top: -10px;
  width: 250px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(218, 207, 236);
}

.name {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.myModal {
  margin-top: 125px;
}

.modal-content {
  max-width: 300px;
  display: none;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(194, 152, 252, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 93%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.submit-button {
  width: 100%;
  margin-top: 80px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 900px) {
  .login-main {
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .welcome,
  .login-type {
    padding: 20px;
  }

  .as {
    padding-top: 30px;
  }

  .btn-group {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .myModal {
    margin-top: 60px;
  }

  .modal-content {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  h1 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .login-main {
    margin: 10px;
  }

  .welcome,
  .login-type {
    padding: 10px;
  }

  .as {
    padding-top: 20px;
    font-size: 28px;
  }

  .btn-group {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .myModal {
    margin-top: 40px;
  }

  .modal-content {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 460px) {
  .login-main {
    margin: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  .welcome,
  .login-type {
    padding: 10px;
    font-size: 14px;
  }

  .as {
    padding-top: 10px;
    font-size: 24px;
  }

  .btn-group {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .myModal {
    margin-top: 20px;
  }

  .modal-content {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
